@model List<SBSSProje.Web.Areas.Member.Models.ViewModel>
@{
    ViewData["Title"] = "Deneme";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}
@foreach (var item in Model)
{
    <div id="biletalicerik" style="position:relative;">
        <input type="hidden" asp-for="@item.MovieId" />
        <div id="filmresim"><img src="~/img/@item.Picture" /></div>
        <div id="filmisim">@item.MovieName</div>
        <div id="filmtarih">@item.Date.ToString("D")</div>
        <div id="filmyonetmen">Yönetmen : @item.Director</div>
        <div id="filmoyuncular">Oyuncular : @item.Cast</div>
        <div id="filmsure"><img src="~/img/zamanicon.png" width="20" height="20">@item.Time</div>
        <div id="filmetiket">@item.Type</div>
        <a asp-action="Deneme" asp-controller="Bilet" asp-route-id="@item.MovieId"><div id="biletinial">Biletini Al</div></a>
    </div>

    <tr>
        @*<td><input type="hidden" asp-for="@item.FilmId" /></td>*@
        @*<td><div>@item.FilmId</div></td>*@
        @*<td><div>@item.BranchId</div></td>*@
        <td>Branch.BranchName</td>

        @*<td><div>@item.HallId</div></td>*@
        <td>Hall.HallName</td>
        <td>Date.ToString("D")</td>
        <td>Movie.MovieName</td>
    </tr>

}


